/* font.css */

@font-face {
    font-family: 'NanumSquare Light';
    src: url(fonts/NanumSquare/NanumSquareLight.eot);
    src: url(fonts/NanumSquare/NanumSquareLight.eot) format('embedded-opentype'),
         url(fonts/NanumSquare/NanumSquareLight.woff2) format('woff2'),
         url(fonts/NanumSquare/NanumSquareLight.woff) format('woff'),
         url(fonts/NanumSquare/NanumSquareLight.ttf) format('truetype');
    unicode-range: U+AC00-D7FF;
}
@font-face {
    font-family: 'NanumSquare';
    src: url(fonts/NanumSquare/NanumSquareRegular.eot);
    src: url(fonts/NanumSquare/NanumSquareRegular.eot) format('embedded-opentype'),
         url(fonts/NanumSquare/NanumSquareRegular.woff2) format('woff2'),
         url(fonts/NanumSquare/NanumSquareRegular.woff) format('woff'),
         url(fonts/NanumSquare/NanumSquareRegular.ttf) format('truetype');
    unicode-range: U+AC00-D7FF;
}
@font-face {
    font-family: 'NanumSquare Bold';
    src: url(fonts/NanumSquare/NanumSquareBold.eot);
    src: url(fonts/NanumSquare/NanumSquareBold.eot) format('embedded-opentype'),
         url(fonts/NanumSquare/NanumSquareBold.woff2) format('woff2'),
         url(fonts/NanumSquare/NanumSquareBold.woff) format('woff'),
         url(fonts/NanumSquare/NanumSquareBold.ttf) format('truetype');
    unicode-range: U+AC00-D7FF;
}
@font-face {
    font-family: 'Renner';
    src: url(fonts/Renner/renner-medium.eot);
    src: url(fonts/Renner/renner-medium.eot) format('embedded-opentype'),
         url(fonts/Renner/renner-medium.woff2) format('woff2'),
         url(fonts/Renner/renner-medium.woff) format('woff'),
         url(fonts/Renner/renner-medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Renner Light';
    src: url(fonts/Renner/renner-light.eot);
    src: url(fonts/Renner/renner-light.eot) format('embedded-opentype'),
         url(fonts/Renner/renner-light.woff2) format('woff2'),
         url(fonts/Renner/renner-light.woff) format('woff'),
         url(fonts/Renner/renner-light.ttf) format('truetype');
}
@font-face {
    font-family: 'Renner Bold';
    src: url(fonts/Renner/renner-bold.eot);
    src: url(fonts/Renner/renner-bold.eot) format('embedded-opentype'),
         url(fonts/Renner/renner-bold.woff2) format('woff2'),
         url(fonts/Renner/renner-bold.woff) format('woff'),
         url(fonts/Renner/renner-bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Flop Design Font';
    src: url(fonts/FlopDesignFont/FlopDesignFont.eot);
    src: url(fonts/FlopDesignFont/FlopDesignFont.eot) format('embedded-opentype'),
         url(fonts/FlopDesignFont/FlopDesignFont.woff2) format('woff2'),
         url(fonts/FlopDesignFont/FlopDesignFont.woff) format('woff'),
         url(fonts/FlopDesignFont/FlopDesignFont.ttf) format('truetype');
    unicode-range: U+3041-3096, U+30A0-30FF, U+3400-4DB5, U+4E00-9FCB, U+F900-FA6A, U+2E80-2FD5, U+FF5F-FF9F, U+3000-303F, U+31F0-31FF, U+3220-3243, U+3280-337F, U+FF01-FF5E;
}
@font-face {
    font-family: 'Droid Sans';
    src: url(fonts/DroidSansFallback/DroidSansFallback.eot);
    src: url(fonts/DroidSansFallback/DroidSansFallback.eot) format('embedded-opentype'),
         url(fonts/DroidSansFallback/DroidSansFallback.woff2) format('woff2'),
         url(fonts/DroidSansFallback/DroidSansFallback.woff) format('woff'),
         url(fonts/DroidSansFallback/DroidSansFallback.ttf) format('truetype');
    unicode-range: U+20000-2A6DF, U+2A700–2B73F, U+2B740–2B81F, U+2B820–2CEAF, U+F900-FAFF, U+2F800-2FA1F;
}