#form-ko, #form-en {
    display: none;
    width: 100%;
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 51, 81);
    font-family: 'Renner';
    font-size: 1vw;
}
table, tr, td {
    border-collapse: collapse;
}
#lang-options {
    text-align: center;
    border-radius: 1pt;
}
#language-select-ko, #language-select-en {
    cursor: pointer;
}
.language-select {
    border-radius: 1vw;
}
#main-title-ko, #main-title-en {
    text-align: center;
    font-size: 5vw;
    font-family: 'Renner Light';
}
[name="login_form"] {
    font-family: 'Renner';
}
#identifier-label-ko, #password-label-ko, #identifier-label-en, #password-label-en {
    font-family: 'Renner Bold';
}
#identifier-ko, #password-ko, #identifier-en, #password-en {
    font-family: 'Renner Light';
    font-size: 1.5vw;
    color: rgb(0, 51, 81);
    width: 100%;
    height: 2vw;
    border-radius: 0.5vw;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}
#identifier-ko::placeholder, #password-ko::placeholder, #identifier-en::placeholder, #password-en::placeholder {
    color: rgb(73, 122, 150);
}
#login-button-ko, #login-button-en {
    font-family: 'Renner';
    width: 50%;
    height: 4vw;
    font-size: 2vw;
    background-color: rgb(0, 120, 215);
    color: rgb(255, 255, 255);
    border-radius: 4vw;
    border-width: 0.05vw;
    border-color: rgb(0, 100, 195);
    opacity: 0.00;
}
#recover-account-ko, #signup-link-ko, #recover-account-en, #signup-link-en {
    text-decoration: none;
    color: rgb(0, 51, 81);
    cursor: pointer;
}
#recover-account-section-ko, #signup-link-section-ko, #recover-account-section-en, #signup-link-section-en {
    text-align: center;
}
#ad-button-ko, #ad-button-en {
    width: 50%;
    height: 4vw;
    font-size: 2vw;
    background-color: rgb(0, 120, 215);
    background-size: cover;
    color: rgb(255, 255, 255);
    border-radius: 1vw;
    border-width: 0.05vw;
    border-color: rgb(0, 100, 195);
    opacity: 1.00;
    font-family: 'Renner Light';
}
#copyright-statement-common {
    width: 100vw;
    text-align: center;
}