/* signin.css */

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 120, 215); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(40, 160, 255); 
}
#signin-form-ko, #signin-form-en {
    display: none;
    width: 100%;
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 51, 81);
    font-family: 'NanumSquare', 'Renner';
    font-size: 1vw;
}
table, tr, td {
    border-collapse: collapse;
}
#lang-options {
    text-align: center;
}
#language-select-ko, #language-select-en {
    cursor: pointer;
}
#main-title-ko, #main-title-en {
    text-align: center;
    font-size: 5vw;
    font-family: 'Renner Light', 'NanumSquare Light';
}
[name="login_form"] {
    font-family: 'NanumSquare', 'Renner';
}
#identifier-label-ko, #password-label-ko, #identifier-label-en, #password-label-en {
    font-family: 'NanumSquare Bold', 'Renner Bold';
}
#identifier-ko, #password-ko, #identifier-en, #password-en {
    font-family: 'Renner Light', 'NanumSquare Light';
    font-size: 1.5vw;
    color: rgb(0, 51, 81);
    width: 100%;
    height: 2vw;
    border-radius: 0.5vw;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}
#identifier-ko::placeholder, #password-ko::placeholder, #identifier-en::placeholder, #password-en::placeholder {
    color: rgb(73, 122, 150);
    font-family: 'NanumSquare Light', 'Renner Light';
}
#login-button-ko, #login-button-en {
    font-family: 'NanumSquare Light', 'Renner';
    width: 50%;
    height: 4vw;
    font-size: 2vw;
    background-color: rgb(0, 120, 215);
    color: rgb(255, 255, 255);
    border-radius: 4vw;
    border-width: 0.05vw;
    border-color: rgb(0, 100, 195);
}
#recover-account-ko, #signup-link-ko, #recover-account-en, #signup-link-en {
    text-decoration: none;
    color: rgb(0, 51, 81);
    cursor: pointer;
}
#recover-account-section-ko, #signup-link-section-ko, #recover-account-section-en, #signup-link-section-en {
    text-align: center;
}
#ad-button-ko, #ad-button-en {
    width: 50%;
    height: 4vw;
    font-size: 2vw;
    background-color: rgb(0, 120, 215);
    background-size: cover;
    color: rgb(255, 255, 255);
    border-radius: 1vw;
    border-width: 0.05vw;
    border-color: rgb(0, 100, 195);
    font-family: 'NanumSquare Light', 'Renner Light';
}
#copyright-statement-common {
    width: 100vw;
    text-align: center;
}