/* signup.css */

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 120, 215); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(40, 160, 255); 
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 51, 81);
    font-family: 'NanumSquare', 'Renner';
    font-size: 1vw;
}
table, tr, td {
    border-collapse: collapse;
    font-family: 'NanumSquare', 'Renner';
}
a {
    color: rgb(0, 120, 215);
}
a:link {
    color: rgb(0, 120, 215);
}
a:visited {
    color: rgb(0, 120, 215);
}
#lang-options {
    text-align: center;
    width: 70%;
}
[id^="language-select"] {
    cursor: pointer;
}
[id^="signup-form"] {
    display: none;
}
#required-info-label, #optional-info-label {
    font-family: 'Renner Bold', 'Flop Design Font', 'NanumSquare Bold';
    font-size: 2vw;
}
[id^="main-title"] {
    text-align: center;
    font-size: 5vw;
    font-family: 'Renner Light', 'Flop Design Font', 'NanumSquare Light';
}
[class^="signup-field-label"] {
    width: 30%;
    font-family: 'Renner Bold', 'Flop Design Font', 'NanumSquare Bold';
}
[id^="signup-field"] {
    width: 70%;
    font-family: 'Renner', 'Flop Design Font', 'NanumSquare';
}
[id^="email-local-part-text"], [id^="email-domain-text"] {
    width: 100%;
    border: 0;
    font-family: 'Renner', 'Flop Design Font', 'NanumSquare';
    font-size: 1vw;
}
[id^="password-textbox1"], [id^="password-textbox2"] {
    width: 40vw;
    border: 0;
    font-size: 1vw;
}
[id^="register-button"] {
    font-family: 'Renner Light', 'Flop Design Font', 'NanumSquare Light';
    width: 70%;
    height: 4vw;
    font-size: 2vw;
    background-color: rgb(0, 120, 215);
    color: rgb(255, 255, 255);
    border-radius: 4vw;
    -moz-border-radius: 4vw;
    -webkit-border-radius: 4vw;
    border-width: 0.05vw;
    border-color: rgb(0, 100, 195);
}
#copyright-statement-common {
    width: 100vw;
    text-align: center;
}